*~
*.*~
*elc
/.emacs.d/*newsrc-dribble*
/.emacs.d/.smex-items
/.emacs.d/abbrev_defs
/.emacs.d/auto-save-list
/.emacs.d/backups
/.emacs.d/elim
/.emacs.d/elpa
/.emacs.d/eshell/history
/.emacs.d/eshell/lastdir
/.emacs.d/mail
/.emacs.d/news
/.emacs.d/places
/.emacs.d/swank
/.emacs.d/tramp
/.emacs.d/url
/.xmonad/xmonad-x86_64-linux
/.xmonad/xmonad.errors
/.xmonad/xmonad.hi
/.xmonad/xmonad.o
/bin/erythrina
/bin/firefox*
/bin/lein*
/bin/jdk*
/.emacs.d/custom.el

